netTest/cudnn_samples_v8/*
netTest/cudnn-mnist-training/*
netTest/cudnn_test_0124/VGG/binImage/*
netTest/cudnn_test_0124/VGG_Batched/binImage/*
netTest/cudnn_test_0124/VGG/vggData/*
netTest/cudnn_test_0124/VGG_Batched/vggData/*
netTest/cudnn_sample_modified/mnistCUDNN/data_bak/*
**/*.out
**/*.bin
**/.ipynb_checkpoints
**/__pycache__
netTest/cudnn_test_0124/VGG/vggCUDNN
netTest/cudnn_test_0124/profile_data/*
netTest/cudnn_test_0124/SimpNet_Batched
paddingTest/
reverseTest/