
netTest/cudnn_samples_v8/*
netTest/cudnn-mnist-training/*
netTest/cudnn_test_0124/VGG/binImage/*
netTest/cudnn_test_0124/VGG/vggData/*
netTest/cudnn_sample_modified/mnistCUDNN/data_bak/*
**/*.out
**/*.bin